#userInputForm {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  margin: 0 auto;
}

#saveForm {
  display: flex;
  flex-direction: column;
}

#saveForm input,
#saveForm button {
  margin: 0 auto;
  max-width: 300px;
}

.lineWrap {
  display: flex;
}

.content {
  text-align: center;
  padding-top: 30px;
  max-width: 420px;
  margin: 0 auto;
}

.passTable {
  margin: 0 auto;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  gap: 10px;
}

.line {
  display: flex;
  gap: 10px;
}

.line div {
  max-width: 240px;
  flex: 1;
  border: 1px solid red;
}

.modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: auto;
  left: 0;
  top: 0;
  position: fixed;
}

.modalcontent {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  width: 100px;
  transform: translateX(-55%);
}

.modalcontent div {
  text-align: center;
}

.modalcontent div:hover {
  background-color: blanchedalmond;
  color: black;
  cursor: pointer;
  z-index: 10;
}

/* .lineWrapEasy {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
} */
